{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Welcome{% endblock %}

{% block content_header %}
<h1>{{data['name']}}</h1>
{% endblock %}

{% block content_container %}
<div class="song_info">
    <a href="http://music.163.com/#/song?id={{data['id']}}"><img src={{data['cover']}} alt="">
    <h3><a href="http://music.163.com/#/{{data['artist']['url']}}">{{data['artist']['name']}}</a></h3>
</div>

<div class="comment_box">
    <p><hr></P>
    {% for comment in data['hotComments'] %}
    <div class="row">
        <div class="col-xs-1"><a href="http://music.163.com/#/user/home?id={{comment['user']['userId']}}">
            <img src={{comment['user']['avatarUrl']}} width="64" height="64" ></a>
        </div>
        <div class="col-xs-11">
            <a href="http://music.163.com/#/user/home?id={{comment['user']['userId']}}"><h6>{{comment['user']['nickname']}}:</h6></a>
            <p>{{comment['content']}}</p>
            <small>{{ moment(comment['time']).format('YYYY年M月D日 h:mm:ss a') }}</small>
        </div>
    </div>
    <p><hr></P>
    {% endfor %}
</div>
{% endblock %}
