<div class="panel-group" id="panel-546072">
<div class="panel panel-default">
<div class="panel-heading">
<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-546072" href="#panel-element-825197" contenteditable="true">Collapsible Group Item #1</a>
</div>
<div id="panel-element-825197" class="panel-collapse collapse" style="height: 0px;">
<div class="panel-body" contenteditable="true">Anim pariatur cliche...</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-546072" href="#panel-element-443861" contenteditable="true">Collapsible Group Item #2</a>
</div>
<div id="panel-element-443861" class="panel-collapse collapse">
<div class="panel-body" contenteditable="true">Anim pariatur cliche...</div>
</div>
</div>
</div>